@charset "UTF-8";

a {
    text-decoration:none; 
}

header {
    font-family: "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", "Meiryo", "HGPｺﾞｼｯｸM", "Osaka", "ＭＳ Ｐゴシック", sans-serif, Century Gothic, Arial;
	background: #F5F0D6;    /* 背景色 */
    color: #74645C;     /* 文字色 */
	text-align: center;   /* 文字の中央揃え */
}

body {
/* フォントの指定 ゴシック体 ※やさしさゴシックは別途フォントデータのDLが必要なフォントのため、やわらかい印象のゴシック体を並べています */
	font-family: "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", "Meiryo", "HGPｺﾞｼｯｸM", "Osaka", "ＭＳ Ｐゴシック", sans-serif, Century Gothic, Arial;
/* フォントの指定ここまで */

background: #F5F0D6;    /* 背景色 */
color: #74645C;     /* 文字色 */
text-align: center;   /* 文字の中央揃え */
}

/* footerメニューCSSここから */

/*メニューをページ下部に固定*/
#sp-fixed-menu{
	position: fixed;
	width: 100%;
	bottom: 0px;
	font-size: 0;
	opacity: 0.9;
	z-index: 99;
 }
 
 /*メニューを横並びにする*/
 #sp-fixed-menu ul{
	display: flex;
	list-style: none;
	padding:0;
	margin:0;
	width:100%;
 }
 
 #sp-fixed-menu li{
	justify-content: center;
	align-items: center;
	width: 50%;
	padding:0;
	margin:0;
	font-size: 14px;
	font-weight: 900;
	border-right: 1px solid #fff;
 }

  /*ボタンを調整*/
  #sp-fixed-menu li a{
	color: #74645C;
	text-align: center;
	display:block;
	width: 100%;
	padding:20px;
 }
 
 /*きょうのあなたは？ 背景色*/
 #sp-fixed-menu li:first-of-type{
	background: #EEF2EF;
 }

  /*木の成長を見る 背景色*/
  #sp-fixed-menu li:nth-of-type(2){
	background: #EEF2EF;
 }
 
 /*ログアウト 背景色*/
 #sp-fixed-menu li:last-of-type{
	background: #EEF2EF;main
 }
 

  /* ここまで */