<!DOCTYPE html>
<html lang="jp">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1">
    <title>投稿内容の編集</title>
    <link rel="stylesheet" href="../static/edit.css">
	    <!-- ここからJS -->
		<script src="./js/jquery-3.5.1.min.js"></script>    <!-- jQuery -->
		<script src="./js/common.js"></script>  <!-- Javascript  -->
</head>
<body>


<h1>投稿内容の編集</h1>

    <form action="/edit" method= "post">
        名前 <input type="text" name= "post_id" value="{{html_task.dic_id}}" class="post_id">
        <br>
        内容 <input type="text" name= "post_input" maxlength= "100" size= "80" value="{{html_task.dic_task}}" class="post_input">
        <br>
        <input type="submit" value="変更する" class="submit_btn">
   </form>

<!--フッターからログアウトするための仕掛け -->
<script>
	function confirmFunction1() {
//ret変数に確認ダイアログの結果を代入する。
ret = confirm("ログアウトしますか？");
//確認ダイアログの結果がOKの場合外部リンクを開く
if (ret == true){
location.href = "/logout";
}
else {
location.href = "/edit";
}
}

</script>


 <!-- フッターメニュー -->

    <div id="sp-fixed-menu" class="for-sp">
        <ul>
            <li><a onclick="confirmFunction1()">ログアウト</a></li>
            <li><a href="/post" >今日のあなたは</a></li>
            <li><a href="/list">マイページ</a></li>
        </ul>
    </div>

<!-- ここまで -->

</body>
</html>