<!DOCTYPE html>
<html lang="jp">
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="サイトをキーワードで説明">
	<meta name="description" content="どんなサイトかを短い文章で説明">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1">
    <title>ページタイトル</title>
    <link rel="stylesheet" href="../static/growth.css">
	    <!-- ここからJS -->
		<script src="./js/jquery-3.5.1.min.js"></script>    <!-- jQuery -->
		<script src="./js/common.js"></script>  <!-- Javascript  -->
</head>
<body>
<h1>hello asunaro</h1>

<h1>投稿一覧</h1>
<h2>{{user_id}}さん、こんにちは</h2>
<table border= "1px">
   {% for post in post_list %}
    <tr>
        <td>ID:{{post.id}}</td>
		<td>内容:{{post.posting}}</td>
		<td><a href="/list/{{post.id}}">編集</a></td>
        <td><a href="/del/{{post.id}}">削除</a></td>
       
    </tr>
	{% endfor %}

</table>
<a href="/post">投稿を追加</a>
<a href="/logout">ログアウト</a>


<!--フッターからログアウトするための仕掛け -->
<script>
	function confirmFunction1() {
//ret変数に確認ダイアログの結果を代入する。
ret = confirm("ログアウトしますか？");
//確認ダイアログの結果がOKの場合外部リンクを開く
if (ret == true){
location.href = "login.html";
}
else {
location.href = "myp.html";
}
}

</script>






 <!-- フッターメニュー -->

<div id="sp-fixed-menu" class="for-sp">
	<ul>
		<li><a onclick="confirmFunction1()">ログアウト</a></li>
		<li><a href="post.html" >今日のあなたは</a></li>
		<li><a href="myp.html">マイページ</a></li>
	</ul>
</div>

<!-- ここまで -->

</body>
</html>