<!DOCTYPE html>
<html lang="jp">
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="サイトをキーワードで説明">
	<meta name="description" content="どんなサイトかを短い文章で説明">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1">
    <title>ページタイトル</title>
    <link rel="stylesheet" href="CSS/style.css">
	    <!-- ここからJS -->
		<script src="./js/jquery-3.5.1.min.js"></script>    <!-- jQuery -->
		<script src="./js/common.js"></script>  <!-- Javascript  -->
</head>
<body>
<h1>hello asunaro</h1>

<h1>タスク一覧</h1>
<h2>{{user_id}}さん、こんにちは</h2>
<table border= "1px">
   
    <tr>
        <td>ID:{{task.id}}</td>
        <td>内容:{{task.task}}</td>
        <td><a href="/edit/{{task.id}}">編集</a></td>
        <td><a href="/del/{{task.id}}">削除</a></td>
    </tr>


</table>
<a href="/add">タスクを追加</a>
<a href="/logout">ログアウト</a>


</body>
</html>