<!DOCTYPE html>
<html lang="jp">
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="サイトをキーワードで説明">
	<meta name="description" content="どんなサイトかを短い文章で説明">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1">
    <title>ページタイトル</title>
    <link rel="stylesheet" href="../static/growth.css">
	    <!-- ここからJS -->
		<script src="./js/jquery-3.5.1.min.js"></script>    <!-- jQuery -->
		<script src="./js/common.js"></script>  <!-- Javascript  -->
</head>
<body>
<h1>hello asunaro</h1>

<h1>投稿一覧</h1>
<h2>こんにちは</h2>
<h3>あなたのアスナロの木は高さ{{post_count[0]}}m!</h3>


<div>
	<img src="../static/img/teppen.PNG" >
</div>
<div >
	<table class="kasa" border= "1px">
		{% for post in post_list %}
		 
		 
			<img src="../static/img/kino_kasa.PNG" alt="">
			 <!-- <td>{{post.id}}</td>  -->
			 <p>{{post.posting}}<a href="/edit/{{post.id}}">編集</a><a href="/del/{{post.id}}">削除</a></p>
			
			
		 
		 
		 {% endfor %}
	 </table>
</div>
<div>
	<img src="../static/img/nemoto.PNG" >
</div>


<!--フッターからログアウトするための仕掛け -->
<script>
	function confirmFunction1() {
//ret変数に確認ダイアログの結果を代入する。
ret = confirm("ログアウトしますか？");
//確認ダイアログの結果がOKの場合外部リンクを開く
if (ret == true){
location.href = "/logout";
}
else {
location.href = "/list";
}
}

</script>






 <!-- フッターメニュー -->

<div id="sp-fixed-menu" class="for-sp">
	<ul>
		<li><a onclick="confirmFunction1()">ログアウト</a></li>
		<li><a href="/post" >今日のあなたは</a></li>
		<li><a href="/list">マイページ</a></li>
	</ul>
</div>

<!-- ここまで -->

</body>
</html>