



<!DOCTYPE html>
<html lang="jp">
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="サイトをキーワードで説明">
	<meta name="description" content="どんなサイトかを短い文章で説明">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1">
    <title>トップページ</title>
    <link rel="stylesheet" href="../static/index.css">
	    <!-- ここからJS -->
		<script src="./js/jquery-3.5.1.min.js"></script>    <!-- jQuery -->
		<script src="./js/common.js"></script>  <!-- Javascript  -->
</head>
<body>
<h1>アスナロ</h1>
<h2>～明日は大樹になろう～</h2>
<form action="/login" method="POST"></form>

	<div class="button">
	<a href="login.html"><button>はじめる</button> </a>
	</div>

	<img src="../img/asunaro_1.PNG">
	<!-- * asunaro_1はアスナロの芽の画像です* -->
	<!-- <img src ="../img/tree_seichou02.png"> -->
		
	


</body>

</html>
