<!DOCTYPE html>
<html lang="jp">
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="サイトをキーワードで説明">
	<meta name="description" content="どんなサイトかを短い文章で説明">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1">
    <title>ログインページ</title>
    <link rel="stylesheet" href="../static/login.css">
	    <!-- ここからJS -->
		<script src="./js/jquery-3.5.1.min.js"></script>    <!-- jQuery -->
		<script src="./js/common.js"></script>  <!-- Javascript  -->
</head>
<body>
<h1>ログイン</h1>

<form action="/login" method="post">
  名前：<input type="text" name="name"><br>
  パスワード：<input type="password" name="password"><br>
  <input type="submit" value="ログイン">
</form>

