<!DOCTYPE html>
<html lang="jp">
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="サイトをキーワードで説明">
	<meta name="description" content="どんなサイトかを短い文章で説明">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1">
    <title>ページタイトル</title>
    <link rel="stylesheet" href="../static/post.css">
	    <!-- ここからJS -->
		<script src="./js/jquery-3.5.1.min.js"></script>    <!-- jQuery -->
		<script src="./js/common.js"></script>  <!-- Javascript  -->
</head>
<body>
<br>

<script>
	function confirmFunction0() {
//ret変数に確認ダイアログの結果を代入する。
ret = confirm("投稿しますか？");}
if (ret == true){
}
else {
location.href = "myp.html";
}

</script>


			<form>      
				<textarea name="今日のあなたは？" class="feedback-input" placeholder="今日のあなたはなにをしたの？(20字以内)" maxlength="20"></textarea>
				<input type ="submit" value	="できた！"onclick="confirmFunction0()"/>
			</form>


			  <br><br>

			  <!-- 今日はお休みボタン -->	 
			  <a href="zzz.html" type="zzz-btn">    今日はお休み    </a>
			  <!-- ここまで -->


<!--フッターからログアウトするための仕掛け -->
<script>
	function confirmFunction1() {
//ret変数に確認ダイアログの結果を代入する。
ret = confirm("ログアウトしますか？");
//確認ダイアログの結果がOKの場合外部リンクを開く
if (ret == true){
location.href = "login.html";
}
else {
location.href = "myp.html";
}
}

</script>






 <!-- フッターメニュー -->

<div id="sp-fixed-menu" class="for-sp">
	<ul>
		<li><a href="post.html" >今日のあなたは</a></li>
		<li><a href="growth.html">木の成長を見る</a></li>
		<li><a onclick="confirmFunction1()">ログアウト</a></li>
	</ul>
</div>

<!-- ここまで -->

</body>
</html>

