<!DOCTYPE html>
<html lang="jp">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1">
    <title>今日はおやすみ</title>
    <link rel="stylesheet" href="../static/zzz.css">
	    <!-- ここからJS -->
		<script src="./js/jquery-3.5.1.min.js"></script>    <!-- jQuery -->
		<script src="./js/common.js"></script>  <!-- Javascript ※必ずjQueryの後にjs -->
</head>
<body>
<!--フッターからログアウトするための仕掛け -->
<script>
	function confirmFunction1() {
//ret変数に確認ダイアログの結果を代入する。
ret = confirm("ログアウトしますか？");
//確認ダイアログの結果がOKの場合外部リンクを開く
if (ret == true){
location.href = "login.html";
}
else {
location.href = "myp.html";
}

}
</script>
<!-- ここまで -->

<div class="photo">
<img src="https://dadfpmh61h9tr.cloudfront.net/2017/10/15/1508077278020_thum_1508077277472_thum_photo.jpg" >

<div class="text-ani_top-bottom">
    <p>雨が降り、アスナロをうるおした！</p>
</div>


</div>

<!-- フッターメニュー -->

<div id="sp-fixed-menu" class="for-sp">
	<ul>
		<li><a href="post.html" >今日のあなたは</a></li>
		<li><a href="growth.html">木の成長を見る</a></li>
		<li><a onclick="confirmFunction1()">ログアウト</a></li>
	</ul>
</div>
<!-- ここまで -->

</body>
</html>